@tailwind base;

body * {
    @apply transition-colors duration-150;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #c2c5c9;
  border-radius: 14px;
  border: 3px solid transparent;
}
@tailwind components;
@tailwind utilities;
